/*
* Emily Trainer
* May 8, 2019
* Girl Develop It
*/

/* The universal selector */

* {

}

/* Body attributes here */

/* This is my CSS for the background colors */ 

header {background-color: #f26067;
        margin:0; padding:0;}
body {background-color: #ffdfe0;}

/*This is my text size and font */
h1{ font-family: cursive;}
p{font-family: Arial;
  font-size: 73.5%;}
h2{ font-family: cursive}
li{ font-family: Arial;}

/*This is my code to hover over my link*/
a:hover, a:focus{
    color: fuchsia;
    text-decoration: underline;}

    img {float: right;}

#about {clear:both;}

div.logo{ text-align: justify}